{%extends 'base.html'%}
{%block content%}
<div class="flux-container">
    <a class="default-button"href="{% url 'create_ticket' %}">Demander une critique</a>
    <a class="default-button"href="{%url 'ticket_review' %}">Créer une critique</a>
</div>
<div class="main-wrapper">
    <div class="main-content">
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'ticket.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'review.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{%endblock content%}